<style type="text/css">
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        background-image: linear-gradient(to left top, #000000, #1e171b, #322831, #453b4c, #545069);

    }
    .root
 {
   display:flex;
   justify-content:left;
   align-items:center;

   padding:5px;
     width: 100%;

   border-radius:10px;

 }

 /*     .root1*/
 /*{*/
 /*  display:flex;*/
 /*justify-content:left;*/
 /*         align-items: center;*/
 /*  border-radius:10px;*/

 /*}*/
     .Frame{
 width:97%;
         height: 105%;
 background-color: #fff;
          margin:28px 22px;
     border-radius: 30px;
  }


 .Myframe{
 width:600px;
 background-color:#fff;
 padding:20px;
     margin-bottom: 200px;
     border-radius: 30px;
  }
 .gap{
    margin-top:10px;
 }
 .btnstyles{
 display:flex;
 justify-content:center;
 align-item:center;
 }

</style>
<!DOCTYPE html>
<html lang="en">
<!--<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">-->
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"/>

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/Javascript/project.js"></script>
<head>
    <meta charset="UTF-8">
    <title>User_Signup</title>
</head>

<body>

<form action="" method="POST" enctype="multipart/form-data" >{% csrf_token %}
 <div class="frame">
    <div class="root">
        <img src="/static/1.png"  style="border-radius:50px;width:600px; height: 500px; margin:-230px 120px 0px 0px;">
        <div class="Myframe">

{#            <div class="row gap" style="display:flex;align-items:center;padding-left:160px;margin-bottom:10px;">#}
{#                <img src="/static/Vishal.jpg" title="Vishal Jain" style="border-radius:100px;width:140px; height: 130px;">#}
{##}
{#            </div>#}


               <div class="row gap" style="display:flex;align-items:center;font-size:35px;letter:2px; spacing:2px; font-weight:bold;padding-left:13px;margin:7px 0px 38px 7px;   text-decoration: underline">
                Find a job & grow your career
                </div>



{#       <i class="fa fa-envelope" aria-hidden="true"></i> Email Address:#}
{#         <div class="row gap">#}
{#           <div class="col">#}
{#                 <input type="text"  class="form-control"  id="emailaddress" name="emailaddress" placeholder="Email Address" >#}
{#           </div>#}
{#         </div>#}
{#<!--        <div class="field">-->#}
{#<!--  <p class="control has-icons-left has-icons-right">-->#}
{#<!--    <input class="input" type="email" placeholder="Email">-->#}
{#<!--    <span class="icon is-small is-left">-->#}
{#<!--      <i class="fas fa-envelope"></i>-->#}
{#<!--    </span>-->#}
{#<!--    <span class="icon is-small is-right">-->#}
{#<!--      <i class="fas fa-check"></i>-->#}
{#<!--    </span>-->#}
{#<!--  </p>-->#}
{#<!--</div>-->#}
{#<i class="fas fa-lock"></i> Password:#}
{#          <div class="row gap">#}
{#           <div class="col">#}
{#      <input type="text" class="form-control" name="password" id="password" placeholder="Password">#}
{#           </div>#}
{#         </div>#}
{#<!--        <div class="field">-->#}
{#<!--  <p class="control has-icons-left">-->#}
{#<!--    <input class="input" type="password" placeholder="Password">-->#}
{#<!--    <span class="icon is-small is-left">-->#}
{#<!--      <i class="fas fa-lock"></i>-->#}
{#<!--    </span>-->#}
{#<!--  </p>-->#}
{#<!--</div>-->#}
{##}
{#           <div class="row gap">#}
{#             <div class="col btnstyles">#}
{#                 <button type="submit"  class="btn btn-primary w-100">Login</button>{{msg}}#}
{#            </div>#}
{##}
{##}
{#           </div>#}
{#         </div>#}
{##}
{##}
{##}
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
           <div class="col">
      <input type="text" class="form-control" name="firstname" placeholder="First name">
           </div>
             <div class="col">
      <input type="text" class="form-control" name="lastname" placeholder="Last name">
           </div>
         </div>

 <div class="row ">
           <div class="col" style="display:flex; margin:1px 99px 14px 224px; justify-content:left; align-item:center;">
                <input type="radio" value="Male" name="gender"><i class="fas fa-male "style="color:red; font-size:25px; margin-left:10px; margin-right:30px;"></i>
               <input type="radio" value="Female" name="gender"><i class="fas fa-female"style="color:pink; font-size:25px; margin-left:10px; margin-right:30px;"></i>

           </div>

     <div class="row mb-4">
             <div class="col">
      <input type="email" class="form-control" name="emailaddress" placeholder="Email Address">
           </div>
     </div>
            <div class="row mb-4">
                    <div class="col">
      <input type="text" class="form-control" name="number" placeholder="Phone Number">
           </div>
         </div>


  <!-- Password input -->
  <div class="row mb-2">
                    <div class="col">
      <input type="password" class="form-control" name="password" placeholder="Password">
           </div>
                   <div class="col">
      <input type="password" class="form-control" name="password" placeholder="Confirm Password">
           </div>

         </div>

  <!-- Work status -->
<p><p>Work Status:</p>
            <div class="row mb-4">

        <div class="card col-5 m-3" style="height: 100px;">
              <div class="card-body ">

                  <button type="button" style="border-radius: 10px; height: 60px"  class="btn btn-dark w-100">
                     Experienced
                  </button>

              </div>
        </div>

       <div class="card col-5 m-3" style="height: 100px;">
              <div class="card-body ">

                  <button type="button" style="border-radius: 10px; height: 60px" class="btn btn-dark w-100">
                     Fresher
                  </button>

              </div>
        </div>

            </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>or sign up with:</p>
    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>


  </div>

       </div>
    </div>

    </div>
</form>
</body>
</html>